<div class="col-lg-2 list-group hidden-xs">
    <a href="#" class="list-group-item active">
        <span class="glyphicon glyphicon-home iconoBarra" aria-hidden="true"></span>
        <br>INICIO
    </a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-time iconoBarra" aria-hidden="true"></span>
        <br>CONTROL DE ENTRADA Y SALIDA
    </a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-user iconoBarra" aria-hidden="true"></span>
        <br>REGISTRO DE COLABORADORES
    </a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-cog iconoBarra" aria-hidden="true"></span>
        <br>SISTEMA DE USUARIOS
    </a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-tasks iconoBarra" aria-hidden="true"></span>
        <br>REPORTES
    </a>
</div>