
<ng-include src=" 'app/template/partial/menuTop.html' "></ng-include>
<div class="col-lg-12 body">
  <ng-include src=" 'app/template/partial/menuLeft.html' "></ng-include>
  <div class="col-lg-10 panel panel-default principal">
    <div class="panel-body"> 
      <div class="page-header">
        <CENTER><h1>CONTROL DE ENTRADA Y SALIDA</h1></center>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="TituloDatosPersonales">Datos Personales</h3>
          <div class="col-lg-8 col-lg-offset-2 cotenedor1">


            <div class="col-lg-6 col-lg-offset-3">
              <br>

              <br>
              <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Cedula</label>
                <div class="col-10">
                  <input class="form-control" type="text" value="" id="example-text-input">
                </div>
                <br>
                <fieldset disabled>
                  <div class="form-group">
                    <label for="disabledTextInput">Nombre</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="">
                  </div>
                  <fieldset disabled>
                    <div class="form-group">
                      <label for="disabledTextInput">Apellido</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="">
                    </div>
                    <fieldset disabled>
                      <div class="form-group">
                        <label for="disabledTextInput">Categoria</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="">
                      </div>
                      </div>

                      </div>


                      </div>
                      <div class="col-lg-12">
                        <h3 class="col-lg-offset-2">Datos Extras</h3>
                        <div class="col-lg-6 col-lg-offset-2 cotenedor2">


                          <div class="col-lg-6 col-lg-offset-2">
                            <br>
                            <label for="example-text-input" class="col-2 col-form-label">Vehiculo</label>
                            <select class="form-control form-control-lg">
                              <option>No</option>
                              <option>Si</option>
                            </select>
                            <br>
                            <label for="example-text-input" class="col-2 col-form-label">Tipo de Vehiculo</label>
                            <select class="form-control form-control-lg">
                              <option>Auto</option>
                              <option>Moto</option>
                              <option>Bicicleta</option>
                            </select>
                            <br>
                            <div class="form-group">
                              <label for="disabledTextInput">Placa</label>
                              <input type="text" id="disabledTextInput" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                              <label for="exampleTextarea">Observacion</label>
                              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>
                            <br>
                          </div>




                        </div>
                        <div>
                        <p class="bienvenido">Bienvenido</p>
                        <p class="glyphicon glyphicon-time icono">&nbsp;07:17 a.m 07/07-2017</p>
                        <p class="mensaje">Su hora de registro</p>

                        <button type="button" class="btn btn-primary btn-block botonguardar">Guardar</button>
                        </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>