
<ng-include src=" 'app/template/partial/menuTop.html' "></ng-include>
<div class="col-lg-12 body">
    <ng-include src=" 'app/template/partial/menuLeft.html' "></ng-include>
    <div class="col-lg-10 panel panel-default principal">
        <div class="panel-body"> 
            <div class="page-header">
                <CENTER><h1>CONTROL DE ENTRADA Y SALIDA</h1></center>
            </div>
            <div class="row" style="margin-top: 0px;">
                <div class="col-lg-5 col-lg-offset-1">

                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="">DATOS PERSONALES</a></li>
                    </ul>
                    <div class="" style="padding: 10px">

                        <div class="row" style="margin-top: 0px">
                            <br>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i>
                                    </span>
                                    <input type="text" class="form-control" aria-label="..." placeholder="CEDULA">
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>
                        <h5>Nombres:</h5>
                        
                        <h5>Apellidos:</h5>
                        
                        <h5>Categoria:</h5>
                        
                    </div>  
                </div>
                <div class="col-lg-5">

                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="">DATOS EXTRA</a></li>
                    </ul>
                    <div class="" style="padding: 10px">

                        <div class="row" style="margin-top: 0px">
                            <div class="col-lg-8">
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon">VEHICULO
                                    </span>
                                    <select class="form-control input-sm" aria-label="...">
                                        <option>SI</option>
                                        <option>NO</option>
                                    </select>
                                </div><!-- /input-group --><br>
                                <div class="input-group">
                                    <span class="input-group-addon">TIPO DE VEHICULO
                                    </span>
                                    <select class="form-control" aria-label="...">
                                        <option>BICICLETA</option>
                                        <option>MOTOCICLETA</option>
                                        <option>AUTOMOVIL</option>
                                    </select>
                                </div><!-- /input-group --><br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i>
                                    </span>
                                    <input type="text" class="form-control" aria-label="..." placeholder="PLACA">
                                </div><!-- /input-group -->
                                <br>
                                <div class="form-group">
                                    <label for="comment">Observaciones:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </div><!-- /.col-lg-6 -->
                        </div>
                    </div>  
                </div>
            </div><hr/>
            
            <div class="row" style="margin-top: 0px" hidden>
                <div class="col-lg-1 col-lg-offset-2">
                    <span class="glyphicon glyphicon-time iconoReloj"></span>
                </div>
                <div class="col-lg-2">
                    <p>Su Hora de Registro</p>
                    <h2>3:35pm 12/02/2017</h2>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-block btn-success btn-lg">Guardar Registro<span class="glyphicon glyphicon-floppy-save iconoGuardar"></span></button>
                </div>
            </div>
            
        </div>
    </div>
</div>


