<ng-include src=" 'app/template/partial/menuTop.html' "></ng-include>
<div class="col-lg-12 body">
  <ng-include src=" 'app/template/partial/menuLeft.html' "></ng-include>
  <div class="col-lg-10 panel panel-default principal">
    <div class="panel-body">
      <div class="page-header">
        <h1>Bienvenido !!</small></h1>
      </div>
      <div class="row" style="margin-top: 0px;">
        <div class="col-lg-3 col-md-4 col-lg-offset-1">
          <center><h2>Soporte tecnico</h2></center>
          <br>
          <p class="parrafo1">Cristian Alejandro Morales Cifuentes</p>
          <p class="parrafo1">Cristhian Camilo Velasquez Galarcio</p>
          <p class="parrafo1">Brayan Andres Pidrahita Granada</p>
          <p class="parrafo1">Yeison Alejandro Colorado</p>
          <p class="parrafo1">Jose Edy Aguirre Montoya</p>
          <p class="parrafo1">Marlon Villegas Vargas</p>
        </div>
        <div class="col-lg-4 col-md-4 hidden-md">
          <center><img class="imgIngressum" src="img/LogoIngressum.png"></center>
        </div>
        <div class="visible-md col-md-4">
          <center><img class="imgIngressum2" src="img/LogoIngressum.png"></center>
        </div>
        <div class="col-lg-3 col-md-4">
          <center><h2>Contacto</h2></center>
          <br>
          <i class="fa fa-envelope parrafo1"></i><span class="parrafo1"> soporteingressum@gmail.com</span><br>
          <i class="fa fa-whatsapp parrafo1"></i><span class="parrafo1"> 311 365 0724</span>
        </div>
      </div>
      <div class="row" style="margin-top: 0px;">
        <div class="col-lg-8 col-lg-offset-2 divAdvertencia">
          <center><p class="parrafo1">Advertencia: Este programa está protegido por las leyes de derecho de autor y otros tratados de protección intelectual.
              Queda totalmente prohibida la reproducción y distribución parcial o total de este producto sin la debida autorizacion de
              sus autores. Esta penalizada por la ley con severas sanciones penales y civiles.
            </p></center>
        </div>
      </div>
      <div class="row" style="margin-top: 0px;">
        <div class="col-lg-4 col-md-3">
          <center><img class="" src="img/logosena.png"></center>
        </div>
        <div class="col-lg-4 col-md-5">
          <center><img class="" src="img/logoAlenPro.jpg"></center>
        </div>
        <div class="col-lg-4 col-md-4">
          <center><img class="logoADSI" src="img/logoADSI.png" data-toggle="modal" data-target=".bs-example-modal-lg"></center>
        </div>
      </div>
    </div>
  </div>
</div>
















<!-- Modal ADSI-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" id="adsi" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><img class="logoADSI" src="img/logoADSI.png" data-toggle="modal" data-target=".bs-example-modal-lg"></center>
      </div>
      <div class="modal-body">
        <div class="row" style="margin: 5px">
          <div class="col-lg-6 col-md-6">
            <center><img class="img-circle foto img-responsive" src="img/logosena.png">
              <p>CRISTIAN ALEJANDRO MORALES</p>
              <p>a-lejo_jurado@hotmail.com</p>
              <p>311 3224973</p></center>
          </div>
          <div class="col-lg-6 col-md-6">
            <center><img class="img-circle foto img-responsive" src="img/imgDesarrolladores/cristhianvg.jpg">
              <p>CRISTHIAN CAMILO VELASQUEZ</p>
              <p>cristhianvg1991@gmail.com</p>
              <p>318 6718401</p></center>
          </div>
        </div>
        <div class="row" style="margin: 5px">
          <div class="col-lg-6 col-md-6">
            <center><img class="img-circle foto img-responsive" src="img/logosena.png">
              <p>BRAYAN ANDRES PIEDRAHITA</p>
              <p>andrespiedrahita98@hotmail.com</p>
              <p>322 6802133</p></center>
          </div>
          <div class="col-lg-6 col-md-6">
            <center><img class="img-circle foto img-responsive" src="img/logosena.png">
              <p>YEISON ALEJANDRO COLORADO</p>
              <p>yesioncolorado98@gmail.com</p>
              <p>318 4769473</p></center>
          </div>
        </div>
        <div class="row" style="margin: 5px">
          <div class="col-lg-6 col-md-6">
            <center><img class="img-circle foto img-responsive" src="img/logosena.png">
              <p>JOSE EDY AGUIRRE</p>
              <p>joseaguirre9518@gmail.com</p>
              <p>314 7179087</p>  </center>
          </div>
          <div class="col-lg-6 col-md-6">
            <center><img class="img-circle foto img-responsive" src="img/logosena.png">
              <p>MARLON VILLEGAS VARGAS</p>
              <p>vargaz98@hotmail.com</p>
              <p>317 7829568</p>  </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>