<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <div class="panel panel-default">
      <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-2 col-sm-12 col-sm-offset-1 col-xs-12">
        <img src="img/NombreIngressum.png" class="img-responsive" alt="Responsive image"/>
      </div>
      <div class="panel-body">
        <form>
          <div class="col-lg-12 col-lg-offset-2 col-md-12 col-md-offset-4 col-sm-12 col-sm-offset-3 col-xs-12">
            <label id="F"> Por favor inicie sesión para tener acceso al programa..</label>
          </div>

          <div class="input-group input-group-lg fr">
            <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
            <input type="text" class="form-control" placeholder="Usuario">
          </div>

          <div class="input-group input-group-lg fr">
            <span class="input-group-addon glyphicon glyphicon-lock"></span>
            <input type="password" class="form-control" placeholder="Contraseña">
          </div>
        </form>
        <a href="#!/index" class="btn btn-primary btn-lg btn-block" id="bt">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</div>