
<ng-include src=" 'app/template/partial/menuTop.html' "></ng-include>
<div class="col-lg-12 body">
    <ng-include src=" 'app/template/partial/menuLeft.html' "></ng-include>
    <div class="col-lg-10 panel panel-default principal">
        <div class="panel-body">
            <div class="page-header">
                <CENTER><h1>REGISTRO DE COLABORADORES</h1></center>
            </div>
        </div>


        <div class="row" style="margin-top: 0px;">
            <div class="col-lg-7 col-lg-offset-1">
                <h4><img class="img-circle iconoAgregar" src="img/IconoAgregar.png" data-toggle="modal" data-target="#nuevoColaborador">Agregar un Nuevo Colaborador</h4>
            </div>
            <div class="col-lg-3" style="margin-top: 45px;">
                <form class="form-inline navbar-form navbar-left">
                    <div class="form-group formulario">
                        <input type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <button type="submit" class="btn btn-default botonBuscar">Buscar</button>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 0px;">
            <div class="col-lg-10 col-lg-offset-1" style="margin-top: 20px;">
                <div class="table-responsive ">
                    <table class="table">
                        <tr>
                            <th>Cédula</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Categoria</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                        <tr>
                            <th>1112792402</th>
                            <th>Marlon</th>
                            <th>Villegas Vargas</th>
                            <th>ALEN PRO</th>
                            <th>3205801438</th>
                            <th>Calle siempre viva</th>
                            <th>mvillegas64@misena.edu.co</th>
                            <th><i title="Editar" class="glyphicon glyphicon-pencil iconoTabla" data-toggle="modal" data-target="#editarColaborador"></i>
                                <i title="Eliminar" class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#eliminarColaborador"></i></th>
                        </tr>
                        <tr>
                            <th>1113594150</th>
                            <th>CRISTHIAN CAMILO</th>
                            <th>VELASQUEZ GALARCIO</th>
                            <th>MUNDO MAGICO</th>
                            <th>3113650724</th>
                            <th>CRA 10 # 16A-62</th>
                            <th>cristhianvg1991@gmail.com</th>
                            <th><i title="Editar" class="glyphicon glyphicon-pencil iconoTabla" data-toggle="modal" data-target="#editarColaborador"></i>
                                <i title="Eliminar" class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#eliminarColaborador"></i></th>
                        </tr>

                    </table>
                    <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Anterior</a></li>
                            <li class="next"><a href="#">Siguiente <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- MODAL NUEVO COLABORADOR-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" id="nuevoColaborador" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-plus-circle"></i>
                    Nuevo Colaborador</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="alert alert-success">

                        <center>Colaborador Creado</center>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="CEDULA">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-circle-o"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="NOMBRE">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-circle"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="APELLIDO">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building iconoForm"></i>
                            </span>
                            <select class="form-control input-sm" aria-label="...">
                                <option>ALLEN PRO</option>
                                <option>SEMILLAS DEL PACIFICO</option>
                                <option>MUNDO MAGICO</option>
                                <option>CONTRATISTA</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile iconoForm2"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="TELEFONO">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker iconoForm3"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="DIRECCION">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="CORREO">
                        </div>
                    </div>
                    <button ng-click="procesarRegistroColaborador()" type="button" class="btn btn-primary btn-block btn-sm">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- MODAL EDITAR COLABORADOR-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" id="editarColaborador" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-pencil"></i>
                    Editar Colaborador</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="alert alert-success">

                        <center>Colaborador Editado</center>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." readonly placeholder="CEDULA">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-circle-o"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="NOMBRE">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-circle"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="APELLIDO">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building iconoForm"></i>
                            </span>
                            <select class="form-control input-sm" aria-label="...">
                                <option>ALLEN PRO</option>
                                <option>SEMILLAS DEL PACIFICO</option>
                                <option>MUNDO MAGICO</option>
                                <option>CONTRATISTA</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile iconoForm2"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="TELEFONO">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker iconoForm3"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="DIRECCION">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="..." placeholder="CORREO">
                        </div>
                    </div>
                    <button ng-click="procesarRegistroColaborador()" type="button" class="btn btn-primary btn-block btn-sm">Editar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- MODAL ELIMINAR COLABORADOR-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" id="eliminarColaborador" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash"></i>
                    Eliminar Colaborador</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <center>Colaborador Eliminado</center>
                </div>
                <center>
                <p>Esta seguro?</p>
                <h3>Se va a eliminar el colaborador</h3>
                <p>NOMBRE DEL COLABORADOR</p>
                </center>
                <button ng-click="procesarRegistroColaborador()" type="button" class="btn btn-danger btn-block btn-sm">Eliminar</button>
                <button ng-click="procesarRegistroColaborador()" type="button" class="btn btn-default btn-block btn-sm">Cancelar</button>
            </div>
        </div>
    </div>
</div>
