
<ng-include src=" 'app/template/partial/menuTop.html' "></ng-include>
<div class="col-lg-12 body">
  <ng-include src=" 'app/template/partial/menuLeft.html' "></ng-include>
  <div class="col-lg-10 panel panel-default principal">
    <div class="panel-body">
      <div class="page-header">
        <CENTER><h1>REPORTES</h1></center>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <a href="#!/repGeneralPersonas"><h3>REPORTE GENERAL DE PERSONAS EN LA EMPRESA</h3></a>
            <a href="#!/repGeneralUsuarios"><h3>REPORTE GENERAL DE USUARIOS</h3></a>
            <a href="#!/repPorPersona"><h3>REPORTE POR PERSONA</h3></a>
            <a href="#!/repPorFecha"><h3>REPORTE POR FECHA</h3></a>
            <a href="#!/repPorFechaYHora"><h3>REPORTE POR FECHA Y HORA</h3></a>
            <a href="#!/repPorCategoria"><h3>REPORTE POR CATEGORIA</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
