
<ng-include src=" 'app/template/partial/menuTop.html' "></ng-include>
<div class="col-lg-12 body">
  <ng-include src=" 'app/template/partial/menuLeft.html' "></ng-include>
  <div class="col-lg-10 panel panel-default principal">
    <div class="panel-body">
      <div class="page-header">
          <a class="glyphicon glyphicon-menu-left" href="#!/repPorCategoria"></a><CENTER><h3>REPORTE DE ENTRADA Y SALIDA POR FECHA Y HORA</h3>
            <h4>DIA 30/05/2017 DE 7:00 am A 12:30 pm ALLEN PRO</h4></center>
      </div>
      <div class="row">
        <div class="col-lg-12">
            TABLA
        </div>
      </div>
    </div>
  </div>
</div>
