
<ng-include src=" 'app/template/partial/menuTop.html' "></ng-include>
<div class="col-lg-12 body">
    <ng-include src=" 'app/template/partial/menuLeft.html' "></ng-include>
    <div class="col-lg-10 panel panel-default principal">
        <div class="panel-body">
            <div class="page-header">
                <CENTER><h1>REPORTE POR CATEGORIA</h1>
            </div>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <div class="form-group">
                        Seleccione la categoria
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building iconoForm"></i>
                            </span>
                            <select class="form-control input-sm" aria-label="...">
                                <option>ALLEN PRO</option>
                                <option>SEMILLAS DEL PACIFICO</option>
                                <option>MUNDO MAGICO</option>
                                <option>CONTRATISTA</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="#!/repGeneralPersonasCategoria"><h3>REPORTE GENERAL DE PERSONAS EN LA EMPRESA por categoria</h3></a>
                    <a href="#!/repPorFechaCategoria"><h3>REPORTE POR FECHA por categoria</h3></a>
                    <a href="#!/repPorFechaYHoraCategoria"><h3>REPORTE POR FECHA Y HORA por categoria</h3></a>
                </div>
            </div>
        </div>
    </div>
</div>
