.list-group {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.0);
  box-shadow: 0 1px 2px rgba(0,0,0,.0);
}
.body {
  padding-top: 15px;
}
.iconoBarra {
  font-size: 3em;
}
.col-lg-2 .list-group-item {
  text-align: center;
}
.principal {
  margin-bottom: 0px;
  height: calc(100vh - 84px - 15px - 15px);
  overflow: auto;
}
.navbar {
  margin-bottom: 0px;
  height: 84px;
  border-radius: 0px;
}
.brand {
  margin-top: 15px;
}
.iconUser {
  margin-top: 2.5px;
}


.imgIngressum{
  width: 450px;
  height: 250px;
}
.imgIngressum2{
  width: 300px;
  height: 150px;
  margin-top: 50px;
}


.divAdvertencia{
  margin-top: 50px;
  margin-bottom: 50px;
}

.logoADSI{
  width: 250px;
  height: 150px;
  margin-top: 10px;
}

.foto{
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.parrafo1{
  font-size: 20px;
}

.panelCerrarSession{
  border-radius: 15px 15px 15px 15px;

}
.navbar-nav>li>.dropdown-menu {
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
}

.botonCerrarCession{
  border-radius: 15px 15px 15px 15px;
}

.iconoReloj{
    font-size: 100px;
}

.iconoGuardar{
    float: right;
    color:  darkslategrey;
    font-size: 25px;
}
