.list-group {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.0);
    box-shadow: 0 1px 2px rgba(0,0,0,.0);
}
.body {
    padding-top: 15px;
}
.iconoBarra {
    font-size: 3em;
}
.col-lg-2 .list-group-item {
    text-align: center;
}
.principal {
    margin-bottom: 0px;
    height: calc(100vh - 84px - 15px - 15px);
    overflow: auto;
}
.navbar {
    margin-bottom: 0px;
    height: 84px;
    border-radius: 0px;
}
.brand {
    margin-top: 15px;
}
.iconUser {
    margin-top: 2.5px;
}