.cotenedor1{
  border: solid 1px  #000;
  
}
.cotenedor2{
  border: solid 1px  #000;
  margin-top: 70px;
  
}
.TituloDatosPersonales{
  margin-left: 250px;
}
.TituloDatosextras{
  margin-left: 250px;
}
