.cotenedor1{
  border: solid 1px  #000;
  
  
}
.cotenedor2{
  border: solid 1px  #000;
  margin-top: 20px;
  
}
.TituloDatosPersonales{
  margin-left: 250px;
}
.TituloDatosextras{
  margin-left: 250px;
  
}
#exampleTextarea{
  resize: none;
}
.botonguardar{
  margin-top: 50px;
  margin-left: 1050px;
  width: 180px;
  height: 60px;
}
.bienvenido{
  margin-left: 1050px;
  font-size: 2em;
  margin-top: 150px;
  
}
.icono{
  font-size: 1.7em;
  margin-left: 50px;
}
.mensaje{
  margin-left: 1029px;
}